@use '@/styles/scss/abstracts/' as *;

.mainHeading {
    padding: 10px;

    padding-top: 100px;
}

.priceCard {
    max-width: 20%;
}

.pricingSegment {
    background-color: #fff ;
    padding-bottom: 50px;
}