

body, html {
    background-color: black;
    color: white;
}

.mainNav {
    background-color: black;
    color: white;
}

.featured {
    background-color: black;
    color: white;
}

.main-form {
    background-color: darkgray;
    color: white;
}