@use '../abstracts/' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}


.sub-heading {
  padding: 20px;
}

.sub-sub-heading {
  padding: 25px;
  font-size: smaller;
  font-weight: lighter;
}

.main-heading {
  font-weight: bold;

  padding: 20px;
  margin-top: 50px;
}

.main-form {
  margin: auto;
  max-width: 500px;
  background-color: aliceblue;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.15);

}

.text-seperation {
  margin-bottom: 40px;
}